/* HTML */

html{
    scroll-behavior: smooth;
}


/* NAVIGATION BAR*/
#navbar{
    flex-direction: column;
    position: sticky;
    top: 0px;
}

/* HOME SECTION */
#home{
    height: 270px;
    padding: 3px 28px;
}

#home::before{
    height: 480px;
}

#home p {
    font-size: 13px;
}


/* SERVICE SECTION */

#services{
    flex-direction: column;
}

#services .box{
   padding: 14px;
   margin: 2px 0px;
   margin-bottom: 30px;
}



/* CLIENTS SECTION */
#clients{
    flex-wrap: wrap;
}
#clients img{
    width: 66px;
    padding: 6px;
    height: auto;
}


/* CONTACT US SECTION */
#contact-box form{
    width: 80%;
}



/* FOPTER SECTION */


/* UTILITY CLASSES */
.h-primary{
    font-size: 48px;
}

.btn{
    font-size: 20px;
    padding: 4px 8px;
}



#contact button {
    padding: 10px;
    width: 200px;
    background-color: rgb(225, 224, 224);
    color: rgb(0, 0, 0);
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
    font-weight: bold;
}

#contact button:hover {
    background-color: rgb(218, 236, 191);
    color: rgb(245, 38, 238);
}


#contact button:active {
    background-color: rgb(161, 238, 47);
    color: rgb(240, 5, 5);
}

#btn {
    text-align: center;
}
