/* CSS RESET */
*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

/* NAVIGATION BAR */
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.2;
}

/* NAVIGATION BAR:LOGO AND IMAGE */
#logo img{
    height: 62px;
    margin: -1px 10px;
}

/* NAVIGATION BAR: LIST STYLING */
#navbar ul{
    display: flex;
    font-family: 'Baloo Bhai 2', cursive;
}

#navbar a:hover{
    margin: 5px;
    box-shadow: 7px 5px 12px rgb(27, 27, 27);
}

#navbar ul li{ 
 list-style: none;
 font-size: 16px;   
}

#navbar ul li a{
    color: white;
    text-decoration: none;
    display: block;
    padding: 5px 20px;
    /* margin: 7px; */
    border-radius: 20px;
    cursor: pointer;
    position: sticky;
}

#navbar ul li a:hover{
 background-color: rgb(255, 255, 255);
 color: black;
 font-family: 'Libre Baskerville', serif;
 font-size: 12px;
}

#navbar ul li a:active{
 background-color: rgb(213, 212, 212);
 border: 2px solid black;
}

/* ------------------------------------------------------------------------------------ */

/* HOME SECTION */
#home{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding: 2px 200px;
    margin: 60px 5px;
    /* height: 509px; */
    flex-direction: column;
}

#home::before{
   content: "";
   position: absolute;
   background: url('../image/bg1.jpg') no-repeat center center/cover;
   height: 402px;
   width: 100%;
   top: 0px;
   left: 0px;
   z-index: -1;
   opacity: 0.85;
}

#home h1{
    color: white;
    font-size: 2.8rem;
    text-align: center;
    font-family: 'PT Serif', serif;
    padding: 13px;
}

#home p{
    color: white;
    font-size: 1.5rem;
    text-align: center;
    font-family: 'Akshar', sans-serif;
    padding: 2px;
}

.btn{
    padding: 8px 20px;
    background-color: rgb(176, 78, 78);
    border: 2px solid white;
    border-radius: 15px;
    color: white;
    cursor: pointer;
    margin: 15px;
    font-size: 15px;
}

.btn:hover{
    color: black;
    background-color: rgb(241, 173, 173);
    border: 2px solid black;
    box-shadow: 8px 8px 10px rgb(50 47 47);
    font-family: 'Libre Baskerville', serif;
}

/* ---------------------------------------------------------------------------------- */

/* SERVICES SECTION */

.center{
    text-align: center;
}

#services{
    display: flex;
}

#services .box{
    border: 2px solid brown;
    border-radius: 20px;
    background-color: rgb(249, 227, 199);
    margin: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

#services .box:hover{
   margin: 10px;
   box-shadow: -5px -5px 15px 3px grey;
}

#services .box img{
    display: block;
    height: 180px;
    margin: auto;
}

#services .box p{
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 1.3rem;
}

#service-container h1 {
    font-family: 'Libre Baskerville', serif;
    font-size: 2.5rem;
}

/* ------------------------------------------------------------------------------------ */

/* Primary Class */
.h-primary{
    padding-top: 55px;
    padding-bottom: 35px;
    font-family: 'Libre Baskerville', serif;
    font-size: 2.5rem; 
}

/* ------------------------------------------------------------------------------------ */

/* Secondary Class */
.h-secondary{
    padding: 10px;
    font-family: 'Libre Baskerville', serif;
    font-size: 2.5rem;
}

/* ------------------------------------------------------------------------------------ */

/* Client-Section */
#clients{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 70px;
}


.clients-items img{
   height:80px;
   padding: 12px;
   margin: 10px;
}

.clients-items img:hover{
  height: 83px;
  padding: 10px;
  margin: 5px;
  border: 2px solid rgb(90, 86, 86);
  border-radius: 8px;
  cursor:pointer;
}

#clients-section::before{
    content:"";
    position: absolute;
    background: url("../image/bg2.jpg") no-repeat center center/cover;
    height: 405px;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
}

/* ------------------------------------------------------------------------------------ */

/* Contact-section */

#contact{
    position: relative;
}

#contact::before{
    content: "";
    position: absolute;
    background: url('/image/contact.jpg')  no-repeat center center/cover;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
}

#contact-box {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 34px;
}

#contact-box textarea{
    width: 100%;
    padding: 0.4rem;
    border-radius: 9px;
    font-size: 1.1rem;
}

#contact-box form .form-group{
    padding-bottom: 34px;
    font-family: 'Libre Baskerville', serif;
    font-weight: bold;
  }
  
#contact-box label{
    font-size: 1.3rem;
    font-family: 'Libre Baskerville', serif;
    flex-direction: column;
}

#contact-box input{
    border: 2px solid rgb(15, 15, 15);
    border-radius: 10px;
    padding: 5px;
}

.form-group button {
    text-align: center;
}

#contact button {
    padding: 10px;
    width: 200px;
    background-color: rgb(225, 224, 224);
    color: rgb(0, 0, 0);
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
    font-weight: bold;
}

#contact button:hover {
    background-color: rgb(218, 236, 191);
    color: rgb(245, 38, 238);
}


#contact button:active {
    background-color: rgb(161, 238, 47);
    color: rgb(240, 5, 5);
}

#btn {
    text-align: center;
}
